<section>
  <h2 class="text-white font-medium text-xl md:text-2xl">
    Get tired of Lorem ipsum data?!
  </h2>
  <h2 class="text-white font-medium text-xl md:text-2xl">
    Didn't find any free 
    <span class="bg-gradient-to-bl from-cyan-500 to-blue-500 bg-clip-text text-transparent">
      book API
    </span>
    ?
  </h2>
  <p class="mt-5 text-neutral-400 md:text-lg md:mt-6">
    <span class="font-semibold bg-gradient-to-bl from-cyan-500 to-blue-500 bg-clip-text text-transparent">
      Fake Books API 
    </span>
    is a free online REST API that you can use whenever you need pseudo-real data for your library application, whether for development, testing, or educational purposes. This API provides dummy information about books, authors, and categories with authentication.
  </p>
</section>