---
import Heart from "../icons/Heart.astro";
---

<footer class="max-w-4xl mx-auto px-5 py-12 md:px-7 md:py-10 border-t border-neutral-800">
  <p class="mb-2 text-center text-neutral-400 font-medium">
    &copy; 2024
    <span class="font-semibold bg-gradient-to-bl from-cyan-500 to-blue-500 bg-clip-text text-transparent">
      FKhris.ts
  </span>
  </p>

  <p class="text-neutral-400 flex gap-1 items-center justify-center font-medium">
    Made with 
    <Heart class="size-4" />
    by 
    <a href="" target="_blank" class="font-semibold bg-gradient-to-bl from-cyan-500 to-blue-500 bg-clip-text text-transparent">
      FKhris.ts
    </a>
  </p>
</footer>